# Common parameters for using EWBF miner with
# All the parameters here are similar to the command line arguments

# Replace zs1vwdad0s4qpkmkcj8q3klm6trvcy6pgqp004jqa89tnn4xd8m2awqanxcsw0ank36wgunkt5vc5h with your Zero Wallet Address
# YOU SHOULD REPLACE YOUR WALLET IN TWO LOCATIONS
# rigname with a NAME for your RIG
# The format is walletaddress.rigname
# addresses starting in t1xxxxxxxxxxxxxxxxxx may also be used exavmple t1XaK2a8EcKqQmwbLxhQVtDp7ip85U1JHGP

[common]
cuda_devices 0 1 2 3 4 5
intensity    64 64 64 64 64 64
templimit    80
pec          0
boff         0
eexit        0
tempunits    C
log          3
logfile      miner.log
api          127.0.0.1:42000
algo         192_7
pers         ZERO_PoW

# The miner start from first and after 3 attempts to reconnect to the lost server
# it will move down the list to the backup.

# Global server (put the closest to you at the top)

# ZERO COMMUNITY POOL
[server]
server stratum.zerocurrency.io
port   2000
user   zs1vwdad0s4qpkmkcj8q3klm6trvcy6pgqp004jqa89tnn4xd8m2awqanxcsw0ank36wgunkt5vc5h.rigname
pass   x

# FORGETOP BACKUP POOL
[server]
server zer-eu.forgetop.com
port   2052
user   zs1vwdad0s4qpkmkcj8q3klm6trvcy6pgqp004jqa89tnn4xd8m2awqanxcsw0ank36wgunkt5vc5h.rigname
pass   x

